* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: Lexend-Deca;
    src: url('./fonts/Lexend-Deca/static/LexendDeca-Regular.ttf');
}

@font-face {
    font-family: Big-Shoulders-Display;
    src: url('./fonts/Big-Shoulders-Display/static/BigShouldersDisplay-SemiBold.ttf');
}

body {
    background-color: hsl(0, 0%, 95%);
}

#card {
    width: 830px;
    margin: 8% auto;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}

.area {
    flex: 1;
    padding: 5%;
}

h1 {
    color: hsl(0, 0%, 95%);
    font-family: Big-Shoulders-Display;
    margin: 10% 0px;
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    font-family: Lexend-Deca;
    font-size: 14px;
    margin: 0 0 10%;
    line-height: 1.7;
}

button {
    margin: 30% 0 0;
    background-color: hsl(0, 0%, 95%);
    border-width: 3px;
    border-color: hsl(0, 0%, 95%);
    border-radius: 20px;
    border-style: solid;
    padding: 4% 11%;
}

span {
    font-family: Lexend-Deca;
}

#area-sedans {
    background-color: hsl(31, 77%, 52%);
}

#area-suvs {
    background-color: hsl(184, 100%, 22%);
}

#area-luxury {
    background-color: hsl(179, 100%, 13%);
}

#area-sedans span {
    color:hsl(31, 77%, 52%);
}

#area-suvs span {
    color:hsl(184, 100%, 22%);
}

#area-luxury span {
    color:hsl(179, 100%, 13%);
}

@media(max-width: 375px) {
    #card {
        width: 90%;
        margin: 5%;
        flex-direction: column;
    }
    .area {
        padding: 17.2%;
    }
    button {
        margin: 0;
    }
}